[submodule "e2e/test-contracts"]
	path = e2e/test-contracts
	url = https://github.com/fuel-infrastructure/test-contracts
	branch = main
[submodule "e2e/fuelstreamx"]
	path = e2e/fuelstreamx
	url = https://github.com/fuel-infrastructure/fuelstreamx
	branch = main
[submodule "e2e/fuel-rollup"]
	path = e2e/fuel-rollup
	url = https://github.com/FuelLabs/fuel-rollup
	branch = deficake/authorize-sendmsg-integration-test
