# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dot
*.log
*.ign

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Release directory
release/

# IDE dependencies
.idea/
.vscode/
.DS_Store

# Blockchain data
/data/

# Build directories
build/
tmp-swagger-gen/

# Grafana data
grafana/
