[submodule "e2e/test-contracts"]
	path = e2e/test-contracts
	url = https://github.com/fuel-infrastructure/test-contracts
	branch = hotfix/fix-withdrawal-type-url
[submodule "e2e/fuelstreamx"]
	path = e2e/fuelstreamx
	url = https://github.com/fuel-infrastructure/fuelstreamx
